/*@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");*/

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  text-shadow: rgba(0, 0, 255, 5) -1px -2px 0.5em;
  margin: 2rem;
  font-size: 4rem;
}

html,
body {
  background-color: black;
  font-family: "Space Grotesk", sans-serif;
  color: yellow;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  margin: 3rem;
  text-align: center;
}
h4 {
  margin: 2rem auto;
  text-align: center;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  gap: 1rem;
}

.info {
  padding: 1rem;
  border-color: yellow;
  border-style: dashed;
  border-width: 1px;
  flex-direction: column;
  width: 100%;
}

.hist {
  border-color: yellow;
  border-style: dashed;
  border-width: 1px;
  flex-direction: row;
  padding: 1rem;
  width: 100%;
}

.contato {
  text-align: center;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.contato h3 {
  font-size: 2rem;
}
.contato a {
  color: azure;
}
.contato a:hover {
  color: #bbb;
  transition: ease-in-out 1s;
}

.vegan {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
h4 {
  padding: 2rem;
}
.vegan img {
  width: 4rem;
}
.effect:hover {
  color: yellow;
  opacity: 0.75;
  transition: color 1000ms linear;
}

.vegan #date {
  padding: 2rem;
}

#footer {
  background-color: rgb(51, 3, 3);
  color: rgb(209, 230, 29);
  text-align: center;
  padding: 1rem;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
}

#date {
  text-align: center;
  margin: 0;
  margin: 3rem;
}
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 3rem;
  }
  .container {
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

/*metronome*/
.metronome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#play-button {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.title {
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
}

#tempo {
  font-size: 40px;
}

.bpm {
  font-size: 12px;
  text-align: center;
}

.tempo-controls {
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}

.tempo-container {
  margin: 0 15px;
}

button {
  padding: 6px;
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: #2a4949;
  color: #e9e9e9;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.play {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 50px solid #e9e9e9;
  margin-left: 15px;
}

.pause {
  width: 45px;
  height: 60px;
  border: none;
  border-left: 15px solid #e9e9e9;
  border-right: 15px solid #e9e9e9;
}
/*navbar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
}

li {
  float: left;
}

li a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
